:root {
    --primaryText: rgba(2, 45, 65);
    --secondaryText: rgba(114, 108, 101);
}

@font-face {
    font-family: "VistaSansBook";
    src: url("./fonts/VistaSansBook.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "VistaSansBook";
    src: url("./fonts/VistaSansLight.woff") format("woff");
    font-weight: 300;
}
@font-face {
    font-family: "VistaSansBook";
    src: url("./fonts/VistaSansMed.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: "VistaSansBook";
    src: url("./fonts/VistaSansReg.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "VistaSlabBook";
    src: url("./fonts/VistaSlabBook.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "VistaSlabBook";
    src: url("./fonts/VistaSlabLight.woff") format("woff");
    font-weight: 300;
}

* {
    box-sizing: border-box;
    color: var(--primaryText);
}

html,
body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "VistaSlabBook";
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 3rem;

    word-wrap: break-word;
    overflow-wrap: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

h2 {
    font-family: "VistaSlabBook";
}
h3 {
    font-family: "VistaSansBook";
    font-size: 1em;
    font-weight: 500;
}
h4 {
    font-family: "VistaSansBook";
    font-weight: 500;
}
p {
    font-family: "VistaSansBook";
}
.container {
    padding: 20px;
    max-width: 820px;
    margin: 0 auto;
}

.accordion {
    border-top: 2px solid rgba(0, 0, 0, 0.125);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.accordion object {
    transition-duration: 0.2s;
}


.sub-accordion object {
    fill: var(--secondaryText);
}

.accordion.active object {
    transform: rotate(45deg);
}
 
.accordion-content.active {
    /* display: block; */
}

.accordion-content {
    max-height: 0px;
    /* display: none; */
    /* transition-duration: 0.2s; */
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}
.top-accordion {
}

.sub-accordion h2 {
    color: var(--secondaryText);
    font-size:1.2em;
}

.alert {
    padding: 10px;
    background: rgba(0, 0, 0, 0.125);
}

.alert p {
    margin: 0;
}