:root {
    --primaryText: #052f43;
    --secondaryText: #666058;
}

@font-face {
    font-family: "VistaSansBook";
    src: url("./fonts/VistaSansBook.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "VistaSansBook";
    src: url("./fonts/VistaSansLight.woff") format("woff");
    font-weight: 300;
}
@font-face {
    font-family: "VistaSansBook";
    src: url("./fonts/VistaSansMed.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: "VistaSansBook";
    src: url("./fonts/VistaSansReg.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "VistaSlabBook";
    src: url("./fonts/VistaSlabBook.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "VistaSlabBook";
    src: url("./fonts/VistaSlabLight.woff") format("woff");
    font-weight: 300;
}

* {
    box-sizing: border-box;
    color: var(--primaryText);
}

html,
body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "VistaSlabBook";
    font-weight: 300;
    margin-top: 100pt;
    margin-bottom: 100pt;
    font-size: 60pt;

    word-wrap: break-word;
    overflow-wrap: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

h2 {
    font-size: 34pt;
    font-family: "VistaSlabBook";
    font-weight: 700;
}
h3 {
    font-size: 18pt;
    font-family: "VistaSansBook";
    font-weight: 500;
}
h4 {
    font-family: "VistaSansBook";
    font-weight: 500;
}
p {
    font-family: "VistaSansBook";
    font-size: 15pt;
}
.container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.accordion {
    border-top: 2px solid #979797;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.accordion img {
    transition-duration: 0.2s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.sub-accordion img {
    filter: grayscale(100%);
    opacity: 0.7;
}

.accordion.active img {
    transform: rotate(45deg);
}

.accordion-content {
    max-height: 0px;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}
.top-accordion {
}

.sub-accordion h2 {
    color: var(--secondaryText);
    font-size: 28pt;
}

.alert {
    padding: 16px;
    background: rgba(102, 96, 88, 0.2);
    margin-bottom: 20pt;
}

.alert p {
    margin: 0;
}

@media screen and (max-width: 600px){
    h1 {
        font-size: 40pt;
        margin-top:60px;
        margin-bottom: 40px;
    }
    h2 {
        font-size: 24pt;
    }

    .sub-accordion h2 {
        font-size: 20pt;
    }
    h3 {
        font-size: 20pt;
    }
}